@import "tailwindcss";

@theme {
    --color-primary: #34A853;
}


body {
    font-family: Arial, sans-serif;
}

#login-button {
    margin: 20px;
}

#video-list {
    margin-top: 20px;
}

.video-item {
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    max-width: 600px;
    height: 315px;
}

.done {
    list-style-image: url('/done.svg');
    height: 2rem;
    width: auto;
}

.not-done {
    list-style-image: url('/not-done.svg');
    height: 2rem;
    width: auto;
}